.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.user-profile {
    margin-bottom: 20px;
}

section {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin-bottom: 40px;
}

.section-title {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 320px;
    text-align: center;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    width: 300px;
    text-align: center;
    position: relative;
    padding-bottom: 60px;
    /* Allow space for the buttons */
    min-height: 200px;
    /* Make sure the card is tall enough */
    height: auto;
    /* Dynamically adjust height */
}

.item-content {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* Show more text before truncating */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    padding: 15px;
    text-align: left;
}



.poi-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}





.show-more {
    display: block;
    margin: 10px auto 0;
    color: #007bff;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}

.show-more:hover {
    color: black;
}

.delete-button {
    display: block;
    margin: 10px auto 0;
    color: #007bff;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}

.delete-button:hover {
    color: black;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0 15px;
}

.buttons-container button {
    width: 45%;
}


.bg-black-500 {
    background-color: #dc3545;
    color: white;
}

.bg-black-700:hover {
    background-color: #b02a37;
}

.guide-day {
    margin-top: 20px;
}

.guide-day h4 {
    margin-bottom: 10px;
}

.guide-day ul {
    list-style-type: none;
    padding-left: 0;
}

.guide-day li {
    margin-bottom: 10px;
}

.change-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.change-button:hover {
    background-color: #0056b3;
}

/* Sidebar button */
.open-sidebar-btn {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 1000;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
}

.open-sidebar-btn:hover {
    background-color: #0056b3;
}

/* Offcanvas sidebar */
.offcanvas-body .nav-link {
    color: white;
    font-weight: normal;
}

.offcanvas-body .nav-link:hover {
    color: #007bff;
}

.offcanvas-header .offcanvas-title {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

/* Modal styles */
.custom-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.custom-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}



.custom-modal-close {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #0056b3;
}